

:root {
  --gold: gold; 
  --white: white;
  --black: #140a00;
  --blue: dodgerblue;
  --red: #ff0000;
  --darkpink: #d64b80;
  --darkgreen: #00bbbb;
  --lightgreen: #7aa605;
  --grey-dark-color: #cac2c2;
  --grey-light-color: #ede9e5;  
  --background-color: rgb(30,30,30); 
  
}

*{
 margin: 0; 
 padding: 0;
 box-sizing: border-box;
}

a{
  text-decoration: none;
  color: var(--white);
}
html{
 font-size: 1rem;
 scroll-behavior: smooth; 
 scroll-snap-type: y mandatory;
 scroll-padding-top: 70px;
}
body{
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;

  /* background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/lib9.jpg);
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed; 
  -ms-overflow-style: none; */
  /* 스크롤바 */
}

body::-webkit-scrollbar {
display: none;
}/* 스크롤바 */

.iframe-wrap{
  display: block;
  position: relative;
  top: 1em;
  width: 100%;
  height: 75vh;
  margin: 0 auto;
  /* background-color: #7aa605; */
}

.main-iframe{
position: relative;
top: 1em;
width: 75%;
height: auto;
/* border: var(--red) 2px solid; */
align-items: center;
margin: 0px auto;
}


.btn1{
   src: url();
   background: none;
   border: 2px solid var(--white);

   padding: 3px 10px;
   border-radius: 10px;
   margin-top: 10px;
   outline: none;
   cursor: pointer;
   transition: all 0.4s;
   background-color: var(--darkgreen);
}
.btn2{
  src: url();
  background: none;
  border: 2px solid var(--white);

  padding: 3px 10px;
  border-radius: 10px;
  margin-top: 10px;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
  background-color: var(--darkpink);
}
.btn1:hover {
   background-color: #c2dd76;
  
 
}
.btn2:hover {
  background-color: #c2dd76;
  color: var(--white);
}

@media(max-width:800px){
  

  .iframe-wrap{
    display: block;
    position: relative;
    top: 3px;
    width: auto;
    height: 90vh;
    margin: 0 auto;
    /* background-color: #7aa605; */
  }
  
  .main-iframe{
  position: relative;
  top: 3em;
  width: auto;
  height: 90vh;
  /* border: var(--red) 2px solid; */
  align-items: center;
  margin: 0px auto;
  }
    
    }
      
@media(max-width:644px){
  

  .iframe-wrap{
    display: block;
    position: relative;
    top: 2em;
    width:100%;
    height: 70vh;
    margin: 0 auto;
    /* background-color: #7aa605; */
  }
  
  .main-iframe{
  position: relative;
  top: 2em;
  width: 100%;
  height: 70vh;
  /* border: var(--red) 2px solid; */
  align-items: center;
  margin: 0 auto;
  }
    
    }
 
