


section{
  height: 500px;;
  background-color: red;
  border: 1px solid blue;  

}

h1{
  /* width:auto; */
  /* height: 35px;   */
  /* position: absolute; */
  /* top: 30%; */
  /* left: 50%; */
  transform: translate(-50%, -50%);
   border: 1px solid red;
  color: #999;
  animation: all 1.6s ease-out;
  
}
h4{
  /* width:auto; */
  /* height: 25px; */
  /* font-family: sans-serif; */
  /* position: absolute; */
  /* top: 26%;   */
  /* left: 50%; */
  transform: translate(-50%, -50%);
  border: 1px solid red;
  color: gold;
  /* animation: all 2s ease-out; */
  animation: all 2s ease-out;
  
}
@keyframes all {
  from{
   left: -100%;
   opacity: 0;
  }
  to{
    left: 50%;
   opacity: 1;

  }
}


@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}


